{% extends './base.html' %}

{% block content %}
<form class="card p-3 border-3 border-dark" method="post">
  {{form.hidden_tag()}}

  <div class="mb-3">
    {{form.email.label(class="form-label h1")}}
    {% if form.email.errors %}
      {{form.email(class="form-control form-control-lg is-invalid")}}
      <div class="invalid-feedback">
          {% for error in form.email.errors %}
            <span>{{error}}</span>
          {% endfor %}
      </div>
    {% else %}
      {{form.email(class="form-control border-2 border-dark text-center")}}
    {% endif %}
  </div>

  <div class="mb-3">
    {{form.password.label(class="form-label h1")}}
    {% if form.password.errors %}
      {{form.password(class="form-control form-control-lg is-invalid")}}
      <div class="invalid-feedback">
          {% for error in form.password.errors %}
            <span>{{error}}</span>
          {% endfor %}
      </div>
    {% else %}
      {{form.password(class="form-control border-2 border-dark text-center")}}
    {% endif %}
  </div>

  <div class="mb-3">
    {{ form.remember_me.label(class="form-check-label h5") }}
    {{ form.remember_me(class="form-check-input") }}
  </div>

  <div class="mb-3 mt-3">
    {{form.submit(class="btn btn-lg btn-primary")}}
  </div>


</form>

<div class="mb-3 mt-3">
  <a href="{{url_for('register')}}" class="h3">Don't have an account?</a>
</div>
{% endblock content %}
